.button {
  border: none;
  background: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  border-radius: 8px;
  padding: 20px;
  margin-left: 20px;
}

.button:hover {
  cursor: pointer;
  opacity: .9;
  transition: .5s;
}

.button:first-child {
  margin-left: 0;
}