<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="images/icon.png" type="image/x-icon">
  <link rel="stylesheet" href="style/index.css">
  <title>Программист Ампилов</title>
</head>
<body class="page">
  <header class="header container">
    <div class="header__content">
      <div class="header__nav">
        <p class="header__text">
          ampilovs
        </p>
        <nav class="header__nav">
          <a href="#portfolio" class="header__nav-link">Портфолио</a>
          <a href="#contacts" class="header__nav-link">Контакты</a>
        </nav>
      </div>
      <div class="promo">
        <div class="promo__content">
          <div class="promo__column">
            <h1 class="promo__title">
              Здравствуйте! Меня зовут Сергей 👋
            </h1>
            <p class="promo__subtext">
              Я <span class="promo__subtext_job">программист, занимаюсь веб-разработкой</span>
                и веду блог об ИТ. В данный момент работаю над проектом
              <span class="promo__subtext_project">
                ampilovs.ru - Персональный сайт программиста
                <i class="fa fa-code" aria-hidden="true"></i>
              </span>
              и прохожу обучение на курсе
              <span class="promo__subtext_project">
                [Udemy] TypeScript с нуля - полный курс и паттерны проектирования
                <i class="fa fa-book" aria-hidden="true"></i>
              </span>
            </p>
            <p class="promo__subtext">
              <a
                href="#contacts"
                class="promo__link promo__link_color-blue">
                  Связаться
              </a>
              <a
                href="#portfolio"
                class="promo__link promo__link_color-yellow">
                Портфолио
              </a>
            </p>
          </div>
          <img src="images/avatar.png" alt="banner" class="promo__banner">
        </div>
      </div>
      <div class="promo__scroll-down"></div>
    </div>
  </header>
  <main>