.contacts__title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
}


.contacts__title::after {
  content: "";
  border-radius: 10px;
  height: 10px;
  width: 21%;
  background-color: #A7CEFC;
  position: absolute;
  left: -6px;
  top: 25px;
  box-shadow: 0 0 8px #A7CEFC;
  -webkit-box-shadow: 0 0 8px #A7CEFC;
  opacity: .2;
  transition: 1s;
}

.contacts__title:hover::after {
  opacity: .4;
}

@media screen and (max-width: 1152px) {
  .contacts__title {
    font-size: 20px;
    line-height: 30px;
  }

  .contacts__title::after {
    top: 19px;
  }
}
