.education {
  padding-top: 60px;
  background-color: #043873;
  color: #fff;
  background-size: contain;
  background-position: -8%;
  background-image: url(../../images/msubg.png);
  background-repeat: no-repeat;
}