.promo__title {
    color: #4F9CF9;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: -0.02em;
}

.promo__title::after {
    border-radius: 10px;
    content: "";
    height: 15px;
    width: 68%;
    background-color: #ffeede;
    position: absolute;
    left: 10px;
    top: 50px;
    z-index: -1;
    box-shadow: 0 0 8px #ffeede;
    -webkit-box-shadow: 0 0 8px #ffeede;
    opacity: .6;
    transition: 1s;
}

.promo__title:hover::after {
    opacity: 1;
}
