.contacts {
  padding: 60px 0;
  background-color: #043873;
  color: #fff;
  background-size: contain;
  background-position: -12%;
  background-image: url(../../images/bgcontacts.png);
  background-repeat: no-repeat;
}